@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
    overflow-x: hidden;
}

li {
    list-style: none;
}
a{
    text-decoration: none;
}

h2 {
    margin: 0;
}

button , .btn{
    background: #ff523b;
    color: #fff;
    border-radius: 50px;
    padding: 5px;
    outline-color: inherit;
    border: inherit;
}

button:hover{
    opacity: .9;
}
    /* Header */

    .navbar{
        margin-top: -24px !important;
        padding-top: 30px;
    }
    
    .header {
        background: radial-gradient(#fff, #ffd6d6);
    }

    .nav-link{
        color: #333;
    }

    .nav-link:hover{
        color: #ff523b !important;
    }

    .active{
        font-weight: bold;
        color:#ff523b !important;
    }

    .navbar-collapse{
        flex-grow: unset;
    }
    
    .col-xl-6 img{
        max-width: 100%;
        margin-top: 50px;
    }

    .text-h1{
        margin-top: 150px;
        font-weight: bold;
    }

    .text-p{
        position: relative;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .btn:hover{
        color: unset;
    }
    /* End Header */

    /* Section 2 */
    .title{
        text-align: center;
        margin-bottom: 50px;
        color: #555;
        position: relative;
        padding-bottom: 10px;
    }

    .title::after{
        content: '';
        background: #ff523b;
        width: 80px;
        height: 5px;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .last .col-xl-3 h4{
        color: #555;
        font-weight: normal;
        font-size: 20px;
    }

    .last .col-xl-3 h4:hover{
        font-weight: bold;
    }

    .last .col-xl-3 p{
        font-size: 14px;
        color: #555;
        font-weight: normal;
    }

    .rating .fa {
        color:#ff523b;
    }

    .last .col-xl-3{
        transition: transform 0.5s;
    }

    .last .col-xl-3:hover{
        transform: translateY(-6px);
    }

    /* End Section 2 */

    /* Offer */
    .offer{
        background: radial-gradient(#fff, #ffd6d6);
        padding-bottom: 100px;
        margin-top: 20px;
    }

    .offer-text-p{
        margin-top: 160px;
    }

    .offer small{
        padding-bottom: 20px;
    }
    /* End Offer */

    /* Feedback  */
    .feedback{
        padding-bottom: 100px;
    }

    .fa-quote-left{
        font-size: 34px;
        color: #ff523b;
        text-align: center;
        width: 100%;
        padding-top: 30px;
    }

    .feedback h4{
        font-size: 16px;
        color: #555;
        font-weight: normal;
        margin-top: 20px;
        padding: 0 20px;
    }

    .feedback img{
        border-radius: 50%;
        margin-top: 20px;
    }

    .feedback .rating{
        text-align: center;
    }

    .feedback h3{
        text-align: center;
        margin-top: 20px;
        color: #555;
        padding-bottom: 30px;
    }

    /* End Feedback */

    /* Brand */
    .brand{
        padding: 50px;
    }

    .brand img{
        cursor: pointer;
        filter: grayscale(100%);
    }

    .brand img:hover{
        filter: grayscale(0);
    }
    /* End Brand */

    /* Footer */
    .footer{
        background-color: #000;
    }

    .footer h4 {
        margin-top: 30px;
        color: #fff;
    }

    .footer p{
        font-size: 14px;
        color: #fff;
        font-weight:lighter;
        margin-bottom: unset;
        text-align: center;
    }

    .footer a p:hover{
        color:#ff523b !important;
    }

    .footer h2{
        margin-bottom: unset;
    }

    .copyright {
        color: #fff;
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
        font-weight: 300;
        
    }

    hr {
        height: 1px !important;
        color: #fff;
    }
    /* End Footer */


/* Responsive */

/* Mobie */
@media (max-width:414px) {
    .navbar-nav{
        text-align: center;
    }
    
    .navbar-collapse img{
        margin-left: 180px;
    }

    .text-h1 {
        margin-top: 50px;
        text-align: center;
    }

    .text-p{
        padding: 0 20px;
        text-align: center;
    }

    .col-xl-6 {
        text-align: center;
    }

    .col-md-12{
        text-align: center;
    }

    .col-md-12 img {
        width: 80% !important;
    }

    .last .title {
        padding-top: 50px;
        margin-bottom: 10px;
    }

    .offer-text-p {
        margin-top: 50px;
    }

    .offer small{
        padding: 0 20px;
    }

    .feedback {
        padding-bottom: 20px;
    }

    .feedback img{
        width: 50% !important;
    }

    .brand img {
        width: 50% !important;
    }

    .col-md-12 img {
        padding: 5px;
    }

    .footer .logo-white{
        width: 50% !important;
        margin-left: 100px;
        padding-bottom: 20px;
    }

    .app {
        padding-top: 20px;
    }
}

/* PC */
@media (min-width:1200px) {
    .feedback{
        padding-top: 100px;
    }

    .feedback img{
        margin-left: 90px;
    }

    .feedback .col-xl-4{
        border-radius: 30px;
        background: #e0e0e0;
        box-shadow:  7px 7px 5px #a8a8a8,
            -7px -7px 5px #ffffff;
        padding: unset;
        width: 31.5%;
        margin: 10px;
    }

    .brand .col-xl-2{
        width: 20%;
    }

    .footer .col-xl-3 .logo-white{
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .app img {
        padding-top: 20px;
    }
}